
@section SectionTitle{
    <h1 id="crmTitle">
        <strong>我的订单</strong>
    </h1>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        
    </div>
    <div class="form-group m-b">
        <input id="order-status" value="1"/>
    </div>
    <script id="order-template" type="text/x-kendo-template">
        <div class="order-item">
            <div class="order-header">
                <p><em>订单号:</em>&nbsp;&nbsp;<span data-bind="text: orderGuid"></span></p>
                <p><em>提交时间:</em>&nbsp;&nbsp;<span data-bind="text: createdTime"></span></p>
                <p><em>状态:</em>&nbsp;&nbsp;<span data-bind="text: orderStatus"></span></p>
                @*<a id="order-detail-info" href="\/Order/#: orderGuid#">详细信息</a>*@
                <table class="table">
                    <thead>
                        <tr>
                            <th>产品</th>
                            <th>数量</th>
                            <th>单价</th>
                            <th>总价</th>
                        </tr>
                    </thead>
                    <tbody class="orderitems" data-role="listview" data-bind="source: orderItems" data-template="order-item-template"> 
                </table>
                <p class="order-total"><em>价格总计:</em>&nbsp;&nbsp;<span data-bind="text: totalPrice"></span>&nbsp;<em>元</em></p>
            </div>
            <div class="hr-line-dashed"></div>
        </div>
    </script>
    <script id="order-item-template" type="text/x-kendo-template">
            <tr>
                <td><span data-bind="text: productName"></span></td>
                <td><span data-bind="text: quantity"></span></td>
                <td><span data-bind="text: itemPrice"></span></td>
                <td><span data-bind="text: total"></span></td>
            </tr>
    </script>
    @*<div id="order-list"></div>*@
    <div id="view-model">
        <div data-role="listview" data-bind="source: orders" data-template="order-template"></div>
    </div>

    <script>
        $(document).ready(function () {
            var orderStatus = [
                { text: "全部订单", value: "0" },
                { text: "未处理", value: "1" },
                { text: "交易成功", value: "2" },
                { text: "已发货", value: "3" },
                { text: "交易结束", value: "4" },
                { text: "交易取消", value: "5" }
            ];

            $("#order-status").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                dataSource: orderStatus,
                index: 0,
                change: function() {
                    orders.read();
                }
            });
            var status = $("#order-status").data("kendoDropDownList");

            status.select(0);

            function additionalData() {
                var data = {
                    orderStatus: $("#order-status").val()
                };
                addAntiForgeryToken(data);
                return data;
            }

            var orders = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/Order/MyOrder",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data"
                }

            });

            var orderViewModel = kendo.observable({
                orders: orders
            });

            kendo.bind("#view-model", orderViewModel);

            $("#order-detail-info").click();
        });
    </script>
}