
@section SectionTitle
{
    <div>
        员工- 创建
    </div>
}

@using (Html.BeginForm("Create", "Employee", FormMethod.Post, new
{
    @class = "",
    role = "form"
}))
{
   @Html.Partial("EmployeeArea");
}
