@section SectionTitle
{
    <h1 id="crmTitle">
    <strong>新建员工信息</strong>
</h1>
}

@using (Html.BeginForm("Create", "Employee", FormMethod.Post, new
{
    @class = "",
    role = "form"
}))
{
    @Html.Partial("EmployeeArea")
}