@using System.Web.Optimization
@section SectionTitle
{
    <h1 id="crmTitle">
        <strong>员工信息</strong>
    </h1>
}
<form name="a" method="post">
 @Html.AntiForgeryToken()
<div class="row m-b" style="margin-bottom:2.5em;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <span class="k-button">@Html.ActionLink("创建员工", "Create")</span>
       
       
        <span class="k-button" id="deleteEmployee"><i class="fa fa-times" style="color: #EA394C;"></i>删除员工</span>
       
    </div>
</div>

<div id="employeesList"></div>
 </form>
@section scripts
{
    @Scripts.Render("~/Scripts/employee/employee.js")
}