

<div class="section-title">员工</div>
@Html.ActionLink("创建员工", "Create")
<button>删除员工</button>
<div id="employees-list">
</div>
<script>
    $(document).ready(function() {
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "index",
                        dataType: "jsonp"
                    },
                    update: {
                        url: "update",
                        dateType: "jsonp"
                    }
                }
            });

            $("#employees-list").kendoGrid({
                dataSource: dataSource,
                height: 500,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [
                    {
                        title: "a",
                        field: "d"
                    }, {
                        title: "c",
                        field: "d"
                    }
                ]
            });
        }
    );
</script>