@using System.Web.Optimization
@section SectionTitle
{
    <h1 id="crmTitle">
        <strong>员工信息</strong>
    </h1>
}

@Html.ActionLink("创建员工", "Create")

<a href="#" id="deleteEmployee">删除员工</a>
<div id="employeesList"></div>


@section scripts
{
    @Scripts.Render("~/Scripts/employee/employee.js")
}