@using System.Web.Optimization


@section SectionTitle
{
    员工考勤
} 

<div id="timesheet"></div>

@section Scripts
{
    @Scripts.Render("~/Scripts/Employee/employee.js")
    @Scripts.Render("~/Scripts/timesheet.js")
}

