@using System.Web.Optimization
@section SectionTitle
{
    <div>
        订单 - 创建
    </div>
}
@Html.AntiForgeryToken()
@Html.Partial("OrderArea") 
@section scripts
{
    @Scripts.Render("~/Scripts/StoreSale/order.js")
}