@using System.Web.Optimization
@section SectionTitle
{
    <div>
        订单 - 创建
    </div>
}
<form method="post">
     @Html.AntiForgeryToken()
    <div>
        <input type="hidden" id="customerId" style="width: 400px"/>
    </div>
    <div>
        <label>客户姓名</label>
        <input id="orderOwner" style="width: 400px"/>
    </div>
    <div>
        <label>客户地址</label>
        <input id="address" style="width: 400px" disabled/>
    </div>
    <div>
        <label>订单名称</label>
        <input id="orderTitle" style="width: 400px"/>
    </div>
    <div id="order"></div>
    <input id="totalcost" disabled/>
    <button id="submitOrder">提交订单</button>
</form>
@section scripts
{
    @Scripts.Render("~/Scripts/StoreSale/order.js")
}