@using System.Web.Optimization
@section SectionTitle
{
    零售管理
}

<label>导入收银机销售记录</label>
<input type="file">
<div id="retailRecords"></div>

@section scripts
{
    @Scripts.Render("~/Scripts/StoreSale/retails.js")
}