@using System.Web.Optimization
@section SectionTitle
{
    零售管理
}

<form id="uploadRetial" action="/StoreSale/UploadRetail" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <label>导入收银机销售记录</label>
    <input type="file" name="retialfile">
    <input id="ButtonUpload" type="submit" value="Upload"/>
</form>

<div id="retailRecords"></div>

@section scripts
{
    @Scripts.Render("~/Scripts/StoreSale/retails.js")
}