@model EasyERP.Web.Models.Products.ProductModel
@{
    //page title
    ViewBag.Title = "ProductCreate";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new
{
    id = "product-form"
}))
{
    @Html.AntiForgeryToken()
    <div class="section-header">

        <div class="title">

            <label>Product Create</label>
        </div>

        <div class="options">

            <input type="submit" name="save" class="k-button" value="Save" />

            <input type="submit" name="save-continue" class="k-button" value="Save Contine" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}