@model EasyERP.Web.Models.Products.ProductModel
@section SectionTitle{
    <h1 id="crmTitle">
    <strong>添加新产品</strong>
</h1>   
}
@using (Html.BeginForm(null, null, FormMethod.Post, new
{
    id = "product-form"
}))
{
    @Html.AntiForgeryToken()
    <div class="section-header">

        <div class="title">

            
        </div>

        <div class="row crm-fst-line">
            <button class="btn k-button" type="submit" name="save"><i class="fa fa-save" style="margin-right:1em;"></i>保存</button>

        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}