@model EasyERP.Web.Models.Products.ProductModel
@section SectionTitle{
    <h1 id="crmTitle">
        <strong>添加新产品</strong>
    </h1>   
}
@using (Html.BeginForm(null, null, FormMethod.Post, new
{
    id = "product-form"
}))
{
    @Html.AntiForgeryToken()
    <div class="section-header">

        <div class="title">
      
        </div>
        <div class="row m-b">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <input type="submit" name="save" class="k-button btn-submit" style="padding-left:1.5em; padding-right:1.5em;" value="保存" />
            </div>
            <div class="col-md-4"></div>
        </div>

    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}