@using System.Web.Optimization




<div id="main">
    <div class="crm-pagehead">
        <h1>Prducts Name</h1>
    </div>
    <div class="crm-pagebody">
        <div id="tabstrip">
            <ul>
                <li class="k-state-active">
                    汇总
                </li>
                <li>米</li>
                <li>粮</li>
                <li>油</li>
                <li>其他</li>
            </ul>
            <div>
                <div>
                    <div id="grid"></div>
                    <script>
                
                    </script>
                </div><!-- 待插入样式 汇总-->
            </div>
            <div>
                <div>
                    <h2>米</h2>
                    <p>米表格</p>
                </div><!-- 待插入样式 米-->
            </div>
            <div>
                <div>
                    <h2>粮</h2>
                    <p>粮表格</p>
                </div><!-- 待插入样式 粮-->
            </div>
            <div>
                <div>
                    <h2>油</h2>
                    <p>油表格</p>
                </div><!-- 待插入样式 油-->
            </div>
            <div>
                <div>
                    <h2>其他</h2>
                    <p>其他表格</p>
                </div><!-- 待插入样式 其他-->
            </div>
        </div>
    </div></div>

@section scripts
{
    @Scripts.Render("~/Scripts/inventory.js")
}
