@using System.Web.Optimization
@section SectionTitle
{
    <div>
        费用目录
    </div>
}

 @Html.AntiForgeryToken()
<div id="consumptionList"></div>

@section scripts
{
    @Scripts.Render("~/Scripts/timesheet.js")
    @Scripts.Render("~/Scripts/Factory/consumption.js")
}