@using System.Web.Optimization
@section SectionTitle
{
    <div>
        费用录入
    </div>
}

<div id="timesheet"></div>

@section scripts
{
    @Scripts.Render("~/Scripts/timesheet.js")
    @Scripts.Render("~/Scripts/Factory/consumption.js")
}