@model EasyERP.Web.Models.Stores.StoreModel
@section SectionTitle
{
    <h1 id="crmTitle">
        <strong style="font-size: smaller">新增门店</strong>
    </h1>

}
@{
    //page title
    ViewBag.Title = "新增门店";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new
{
    id = "store-form"
}))
{
    @Html.AntiForgeryToken()
    <div class="section-header">
       
            <div class="row m-b">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <input type="submit" name="save" class="k-button btn-submit" style="padding-left:1.5em; padding-right:1.5em;" value="保存" />
                </div>
            </div>
        </div>
    @Html.Partial("_CreateOrUpdate", Model)
}