@using EasyErp.Core.Configuration.Settings
@using EasyErp.Core.Infrastructure
@section SectionTitle
{
    <h1 id="crmTitle">
        <strong>门店管理</strong>
    </h1>
}
@{
    ViewBag.Title = "门店管理";
    var defaultGridPageSize = EngineContext.Current.Resolve<AreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<AreaSettings>().GridPageSizes;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="stores-grid" class="m-b"></div>

    <script type="text/javascript">

        $(document).ready(function() {

            function additionalRequestData(data) {
                addAntiForgeryToken(data);
                return data;
            }

            $("#stores-grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("StoreList", "Store"))",
                            type: "POST",
                            dataType: "json",
                            data: function() {
                                var data = {};
                                addAntiForgeryToken(data);
                                return data;
                            }
                        },
                        destroy: {
                            url: "/Store/Destroy",
                            type: "POST",
                            dataType: "json",
                            data: function(options) {
                                var data = {id: options.Id};
                                addAntiForgeryToken(data);
                                return data;
                            }
                        }
                    },
                    schema: {
                        model: { id: "Id" },
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        this.cancelChanges();
                    },
                    pageSize: @(defaultGridPageSize),
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    pageSizes: [@(gridPageSizes)]
                },
                batch: false,
                editable: {
                    confirmation: true,
                    mode: "inline",
                    destroy: true
                },
                scrollable: false,
                columns: [
                    { field: "Name", title: "店名", width: 150 },
                    { field: "Address", title: "地址", width: 200 },
                    { field: "PhoneNumber", title: "电话", width: 100 },
                    { field: "Id", title: "&nbsp;", width: 100, template: "<a href=\"Edit/#=Id#\">编辑门店信息</a>" },
                    { command: "destroy", text: "删除", title: "&nbsp;", width: 100 }
                ]
            });
        });
    </script>
}