@using EasyErp.Core.Configuration.Settings
@using EasyErp.Core.Infrastructure
@section SectionTitle
{
    <h1 id="crmTitle">
        <strong>门店管理</strong>
    </h1>
}
@{
    ViewBag.Title = "产品管理";
    var defaultGridPageSize = EngineContext.Current.Resolve<AreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<AreaSettings>().GridPageSizes;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <label>门店管理</label>
        </div>
    </div>
    <div id="stores-grid"></div>

    <script type="text/javascript">

        $(document).ready(function() {
            $("#stores-grid").kendoGrid({ 
                autoSync: true,
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("StoreList", "Store"))",
                            type: "POST",
                            dataType: "json",
                            data: additionalData
                        },
                        destroy: {
                            url: "/Store/Destroy",
                            type: "POST",
                            dataType: "json"
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    pageSize: @(defaultGridPageSize),
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    pageSizes: [@(gridPageSizes)]
                },
                editable: {
                    confirmation: true,
                    mode: "inline",
                    destroy: true
                },
                scrollable: false,
                columns: [
                    { field: "Name", title: "店名", width: 300 },
                    { field: "Address", title: "地址", width: 100 },
                    { field: "PhoneNumber", title: "电话", width: 100 },
                    { field: "Id", title: "&nbsp;", width: 100, template: "<a href=\"Edit/#=Id#\">编辑</a>" },
                    { command: "destroy", text: "删除", title: "&nbsp;", width: 100 }
                ]
            });
        });

        function additionalData() {
            var data = {

            };
            addAntiForgeryToken(data);
            return data;
        }
    </script>
}