@section SectionTitle
{
    <div>
        员工- 信息
    </div>
}


@model EasyERP.Web.Models.Customer.CustomerModel


@using (Html.BeginForm("Edit", "Customer", FormMethod.Post, new
{
    @class = "",
    role = "form"
}))
{
    @Html.AntiForgeryToken()
    @Html.Partial("CustomerArea")
}