@using System.Web.Optimization
@section SectionTitle
{
    <h1 id="crmTitle">
        <strong>
            客户信息
        </strong>
    </h1>
}
@Html.ActionLink("创建客户", "Create")
@Html.AntiForgeryToken()
<a href="#" id="deleteCustomer">删除客户</a>
<div id="customerList"></div>

@section scripts
{
    @Scripts.Render("~/Scripts/customer/customer.js")
}
