@using System.Web.Optimization
@section SectionTitle
{
    员工考勤
}
<a href="#" id="preWeek">上一周</a><a href="#" id="nextWeek">下一周</a>
<div id="timesheet"></div>

@section Scripts
{
    @Scripts.Render("~/Scripts/Employee/timesheet.js")
}