@using EasyErp.Core
@using EasyERP.Web.Framework.UI
<!DOCTYPE html>
<html>
<head>
    <title>米谷</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="~/content/site.css"/>
    <link type="text/css" rel="stylesheet" href="~/content/bootstrap.min.css"/>
</head>
<body class="login">
    <div>
        @RenderBody()
    </div>
</body>
</html>