<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode title="Home" controller="Home" action="Overview">
    <siteMapNode title="Dashboard" controller="Home" action="Index" ImageUrl="~/Administration/Content/images/ico-dashboard.png" />
    <siteMapNode title="产品" PermissionNames="ManageProducts" ImageUrl="~/Administration/Content/images/ico-catalog.png">
      <siteMapNode title="产品管理" PermissionNames="ManageProducts" controller="Product" action="List" />
      <siteMapNode title="Low stock report" PermissionNames="ManageProducts" controller="Product" action="LowStockReport" />
    </siteMapNode>
  </siteMapNode>
  <siteMapNode title="销售" PermissionNames="ManageOrders" ImageUrl="~/Administration/Content/images/ico-sales.png">
    <siteMapNode title="订单管理" PermissionNames="ManageOrders" controller="Order" action="List" />
  </siteMapNode>
  <siteMapNode title="门店" PermissionNames="ManageStores" controller="Customer" action="List" ImageUrl="~/Administration/Content/images/ico-customers.png" />
  <siteMapNode title="员工" ImageUrl="~/Administration/Content/images/ico-help.png">
    <siteMapNode title="员工管理" />
    <siteMapNode title="Timesheet" />
  </siteMapNode>
</siteMap>